nav a {
  color: #090 !important;
}

nav a:hover,
nav a:focus {
  outline: none;
  color: #0a0 !important;
}

.menu-ul h5{
	background-color: #0c0;
}

.menu-ul a{
	color: #0c9;
}

.menu-ul li:last-child a{
	border-bottom-color: transparent;
}

.menu-ul a:hover, .menu-ul a:focus{
	color: #0a6;
}

.min-overlay{
  background-color: rgba(0,180,0,0.3);
  padding: 10px;
  color: #fff;
  border: #fff solid thin;
  border-radius: 8px;

}
